
body{
    background-image: linear-gradient(to top, #000000, #fc0000);
}





.image-text-container {background-color :linear-gradient(to top, #ff0000, #ff00b3);

    display: flex;
    flex-direction: column; /* Um abaixo do outro */
    gap: 20px; /* Espaçamento entre os artigos */
    padding: 20px;
    background-color: #930000; /* Fundo claro para contraste */
    border-radius: 10px;
}

/* Estilo para cada artigo */
article {
    display: flex; /* Alinha imagem e texto lado a lado */
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    border: 3px solid #000000;
    border-radius: 10px;
    background-color: #f63838;
    box-shadow: 0 4px 6px rgb(215, 0, 0); /* Adiciona sombra para destaque */
}

/* Imagens */
article img {
    max-width: 150px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #e7c6c6;
}

/* Texto */
.article-text {
    flex: 1;
    text-align: justify;
}

/* Estilos específicos para cada integrante */
.mia {
    border-color: #ffffff; /* Vermelho */
    background-color: #ff0000; /* Fundo claro */
}

.roberta {
    border-color: #ffffff; /* Azul */
    background-color: #ff0000; /* Fundo claro */
}

.lupita {
    border-color: #ffffff; /* Verde */
    background-color: #ff0000; /* Fundo claro */
}
.diego{
    border-color: #000000; 
    background-color: #ff0000;
}
.miguel{
    border-color: #000000; 
    background-color: #ff0000;
}
.giovanni{
    border-color: #000000; 
    background-color: #ff0000;
}

/* Títulos */
article h4 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #333;
}
h1{
text-align: center;
 background-color: #ffffff;
 border: 7px solid #fdfdfd;
 border-radius: 7px;
 border-color:#000000;
 padding: 7px;
 font-size: 25px;
 width: 15%;
 margin: 0  auto;
}
h2{
    
     background-color: #ffffff;
     border: 7px solid #FFC107;
     border-radius: 10px;
     border-color:#0b0b0b;
     padding: 10px;
     font-size: 25px;
     width: 12%;
}
h3{
    background-color: #ffffff;
    border: 7px solid #FFC107;
    border-radius: 20px;
    border-color: #0b0b0b;
    padding: 10px ;
    font-size:25px;
    width:20% ;
    text-align: center;
}
    


/* Espaçamento entre os parágrafos */
.article-text p {
    margin: 0;
   
}
.historia{
    font-size: 30px;
}
.botao{
    display: block;
    text-align: center;
    font-size: 2em;
    width: 20%;
    height: 50%;
    padding-top: 7px;
    margin-top: 7px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 5px solid #ff0b0b;
    border-radius: 20px;
    text-decoration: none;
    
  

}
    

